/* Typography */
:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

/* CSS Resets */
body, ul, p {
  margin: unset;
  padding: unset;
}

span {
  all: unset;
}

li {
  list-style-type: none;
}

h1, h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

img {
  max-width: 100%;
}

/* Swiper */
.swiper {
  height: 400px;
}

.swiper .swiper-slide {
  background-color: #FFF;
  border-radius: 30px;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.swiper .swiper-slide-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  color: #000;
  transition: opacity 0.5s;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  margin-left: 5%;
}
.swiper-button-next {
  margin-right: 5%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bullet {
  display: inline-block;
  background-color: #999;
  width: 8px;
  height: 8px;
  border-radius: 40%;
  margin: 0.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.bullet.is-active {
  background-color: dodgerblue;
  transform: scale(1.5);
}


/* Components */
body {
  background-color: #A6E3E9;
}

.slider {
  width: 100vw;
  height: 400px;
  padding: 0 30px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.intro {
  display: flex;
  gap: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text {
  flex-grow: 1;
  min-width: 200px;
  margin: 0 auto;
}

.intro-title {
  font-size: 50px;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
  background-color: yellow;
}

.intro-desc {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.intro-cover {
  flex-basis: 0;
  min-width: 300px;
  object-fit: contain;
}


.member {
  display: flex;
  gap: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member-cover {
  flex-basis: 0;
  min-width: 200px;
  object-fit: contain;
}

.member-text {
  min-width: 300px;
  flex-grow: 1;
}

.member-title {
  font-size: 3rem;
  font-weight: 700;
}

.member hr {
  margin: 20px 0;
}

.member-char li {
  font-size: 1.5rem;
  font-weight: 500px;
  margin-bottom: 30px;

  display: flex;
  gap: 10px;
  align-items: center;
}

.member-char li span {
  color: salmon;
  font-weight: 700;
  font-size: 2rem;
}

.member-char li:last-child {
  margin-bottom: 0;
}

.member-char li::before {
  content: ' ';
  min-width: 30px;
  height: 30px;
  background-image: url('assets/gyodong.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}



@media (max-width: 1080px) {
  .slider {
    padding: 0 10px;
  }

  .intro {
    gap: 10px;
  }
  
  .intro-text {
    min-width: 200px;
  }

  .intro-title {
    width: fit-content;
    margin: 0 auto;
    font-size: 3.6rem;
  }

  .intro-desc {
    font-size: 2rem;
  }

  .intro-cover {
    min-width: 200px;
  }

  .member-cover {
    min-width: 180px;
  }

  .member-text {
    min-width: 180px;
  }

  .member-title {
    font-size: 2rem;
  }

  .member-char li {
    font-size: 1.2rem;
    margin-bottom: 15px;
    gap: 5px;
  }
}

@media (max-width: 800px) {
  .intro {
    gap: 5px;
  }
  
  .intro-text {
    min-width: 150px;
  }

  .intro-title {
    width: fit-content;
    margin: 0 auto;
    font-size: 2.4rem;
  }

  .intro-desc {
    font-size: 1.6rem;
  }

  .intro-cover {
    min-width: 180px;
  }

  .member {
    display: block;
    padding: 0 40px;
    position: relative;
    overflow: hidden;
  }

  .member-cover {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }

  .member-text {
    margin: 0 auto;  
  }

  .member-char li {
    font-weight: 600;
  }
}

@media (max-width: 680px) {
  .intro {
    display: block;
    overflow: hidden;
  }

  .intro-desc {
    margin: 20px 0;
  }
}